function PongGame.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 50
pop this 6
push constant 230
push constant 229
push this 6
push constant 7
call Bat.new 4
pop this 0
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 6
pop this 1
push this 1
push constant 400
push constant 0
call Ball.setDestination 3
pop temp 0
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
pop temp 1
push temp 1
push constant 83
call String.appendChar 2
pop temp 0
push temp 1
push constant 99
call String.appendChar 2
pop temp 0
push temp 1
push constant 111
call String.appendChar 2
pop temp 0
push temp 1
push constant 114
call String.appendChar 2
pop temp 0
push temp 1
push constant 101
call String.appendChar 2
pop temp 0
push temp 1
push constant 58
call String.appendChar 2
pop temp 0
push temp 1
push constant 32
call String.appendChar 2
pop temp 0
push temp 1
push constant 48
call String.appendChar 2
pop temp 0
push temp 1
call Output.printString 1
pop temp 0
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 2
push constant 0
pop this 5
push pointer 0
return
function PongGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Bat.dispose 1
pop temp 0
push this 1
call Ball.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
return
function PongGame.newInstance 0
call PongGame.new 0
pop static 0
return
function PongGame.getInstance 0
push static 0
return
function PongGame.run 1
push argument 0
pop pointer 0
label LOOPSTART1
push this 3
not
not
if-goto LOOPEND2
label LOOPSTART3
push local 0
push constant 0
eq
push this 3
not
and
not
if-goto LOOPEND4
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto LOOPSTART3
label LOOPEND4
push local 0
push constant 130
eq
if-goto IFTRUE5
goto IFFALSE6
label IFTRUE5
push this 0
push constant 1
call Bat.setDirection 2
pop temp 0
goto IFEND7
label IFFALSE6
push local 0
push constant 132
eq
if-goto IFTRUE8
goto IFFALSE9
label IFTRUE8
push this 0
push constant 2
call Bat.setDirection 2
pop temp 0
goto IFEND10
label IFFALSE9
push local 0
push constant 140
eq
if-goto IFTRUE11
goto IFFALSE12
label IFTRUE11
push constant 1
neg
pop this 3
goto IFEND13
label IFFALSE12
label IFEND13
label IFEND10
label IFEND7
label LOOPSTART14
push local 0
push constant 0
eq
not
push this 3
not
and
not
if-goto LOOPEND15
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto LOOPSTART14
label LOOPEND15
goto LOOPSTART1
label LOOPEND2
push this 3
if-goto IFTRUE16
goto IFFALSE17
label IFTRUE16
push constant 10
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
pop temp 1
push temp 1
push constant 71
call String.appendChar 2
pop temp 0
push temp 1
push constant 97
call String.appendChar 2
pop temp 0
push temp 1
push constant 109
call String.appendChar 2
pop temp 0
push temp 1
push constant 101
call String.appendChar 2
pop temp 0
push temp 1
push constant 32
call String.appendChar 2
pop temp 0
push temp 1
push constant 79
call String.appendChar 2
pop temp 0
push temp 1
push constant 118
call String.appendChar 2
pop temp 0
push temp 1
push constant 101
call String.appendChar 2
pop temp 0
push temp 1
push constant 114
call String.appendChar 2
pop temp 0
push temp 1
call Output.printString 1
pop temp 0
goto IFEND18
label IFFALSE17
label IFEND18
return
function PongGame.moveBall 5
push argument 0
pop pointer 0
push this 1
call Ball.move 1
pop this 2
push this 2
push constant 0
gt
push this 2
push this 5
eq
not
and
if-goto IFTRUE19
goto IFFALSE20
label IFTRUE19
push this 2
pop this 5
push constant 0
pop local 0
push this 0
call Bat.getLeft 1
pop local 1
push this 0
call Bat.getRight 1
pop local 2
push this 1
call Ball.getLeft 1
pop local 3
push this 1
call Ball.getRight 1
pop local 4
push this 2
push constant 4
eq
if-goto IFTRUE22
goto IFFALSE23
label IFTRUE22
push local 1
push local 4
gt
push local 2
push local 3
lt
or
pop this 3
push this 3
not
if-goto IFTRUE25
goto IFFALSE26
label IFTRUE25
push local 4
push local 1
push constant 10
add
lt
if-goto IFTRUE28
goto IFFALSE29
label IFTRUE28
push constant 1
neg
pop local 0
goto IFEND30
label IFFALSE29
push local 3
push local 2
push constant 10
sub
gt
if-goto IFTRUE31
goto IFFALSE32
label IFTRUE31
push constant 1
pop local 0
goto IFEND33
label IFFALSE32
label IFEND33
label IFEND30
push this 6
push constant 2
sub
pop this 6
push this 0
push this 6
call Bat.setWidth 2
pop temp 0
push this 4
push constant 1
add
pop this 4
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
goto IFEND27
label IFFALSE26
label IFEND27
goto IFEND24
label IFFALSE23
label IFEND24
push this 1
push local 0
call Ball.bounce 2
pop temp 0
goto IFEND21
label IFFALSE20
label IFEND21
return